body{
	margin: 0;
	padding: 2%;
	background: #111;
	/*background-image: url(assets/bg1.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;*/
	color: white;
}

.nav-link{
	color: white;
}

ul{
	list-style: ;
}

.skills{
	height: 210px;
}


a:hover{
	text-decoration: none;
	color: white;
}

.lpd{
	/*background: url('assets/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	height: 90vh;*/
	padding-top: 50px;
	padding-left: 2%;
	padding-right: 2%;

}


.lpdn{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
}

#landingbigtext{
	color: white;
	font-size: 9vmax;
}

#landingsmalltext{
	color: white;
	margin: 0;
	font-size: 2.5vmax;
	padding: 0;
}

.quote{
	color: white;
	margin-top: 2%;
}

.highlight{
	background: white;
	color: #0078D7;
}

.row, .col-lg-4{
	padding: 1%;
}

@media only screen and (max-width: 767px) {

  .lpdn{
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    padding-top: 15%;

  }
}

