body{
	margin: 0;
	padding: 2%;
	background: #111;
	/*background-image: url(assets/bg1.PNG);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;*/
	color: white;
}

.nav-link{
	color: white;
}

ul{
	list-style: ;
}

.skills{
	height: 210px;
}


a:hover{
	text-decoration: none;
	color: white;
}

.lpd{
	/*background: url('assets/bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
	height: 90vh;*/
	padding-top: 50px;
	padding-left: 2%;
	padding-right: 2%;

}


.lpdn{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 85%;
}


.lpc{
  background: url('assets/lfc2.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%
}

#landingbigtext{
	color: white;
	font-size: 9vmax;
}

#landingsmalltext{
	color: white;
	margin: 0;
	font-size: 2.5vmax;
	padding: 0;
}


.quote{
	color: white;
	margin-top: 2%;
}

.highlight{
	background: white;
	color: #9F111F;
}

.row, .col-lg-4{
	padding: 1%;
}

#footer{
  /*border: 1px solid red;*/
  width:450px;
  text-align: center;
  position: fixed;
  top: 98%;
  left: 98%;
  -webkit-transform: translate(-98%, -98%);
  font-size: 30px
}

#footer #road{
  font-size: 25px;
}

.red{
	background: #fff;
}




@media only screen and (max-width: 767px) {

  .lpdn{
    position: relative;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    padding-top: 15%;
    height: 100%;

  }

  #footer{
	  /*border: 1px solid red;*/
	  width:100%;
	  text-align: center;
	   position: relative;
	    top: 0%;
	    left: 0%;
	    -webkit-transform: translate(0%, 0%);
	    transform: translate(0%, 0%);
	    padding-top: 15%;
	}
}



